.MainPanel {
    width: 100%;
    height: auto;
}

.productContainer {
    width: 80%;
    height: auto;
    margin: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 1px;
}

